#simon {
  font-family: Arial;
  color: #4b4b4b;
  margin-left: auto;
  margin-right: auto;
  margin-top: 15px;
  text-align: center;
  font-size: 36px;
}

#arrows {
  text-align:center;
}

.arrow {
  display: inline;
  margin-left: auto;
  margin-right: auto;
}

#step {
  border: 3px solid green;
}