body {
  font-family: Arial;
}

#overlay{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
  background-color: rgba(0,0,0,0.5); /*dim the background*/
}

#modal {
    width: 500px;
    height: 500px;
    padding-top: 30px;
    margin-top: 75px;
    margin-left: auto;
    margin-right: auto;
    background-color: #CC6666;
    border-radius: 5px;
    border: 10px solid #B04F4F;
    text-align: center;
    z-index: 11; /* 1px higher than the overlay layer */
    font-family: Arial;
    font-size: 48px;
    font-weight: bold;
    color: #ffffff;
    display: block;
    -webkit-transition: 1s;
}

#endscore {
  font-size: 24px;
  font-weight: normal;
}

#newgamemodal {
  display: block;
  border: 0;
  text-align: center;
  -webkit-border-radius: 5;
  -moz-border-radius: 5;
  border-radius: 5px;
  font-family: Arial;
  color: #ffffff;
  font-size: 16px;
  background: #949494;
  padding: 10px 20px 10px 20px;
  margin: 10px auto 5px auto;
}

#newgamemodal:hover {
  background: #c7c7c7;
}

#newgamemodal:focus {
  outline:0 !important;
}

#gameoverhigh {
  font-size: 22px;
  background-color: #AB6363;
  padding: 20px;
  margin: 20px;
}

#simon {
  color: #969696;
  margin-left: auto;
  margin-right: auto;
  margin-top: 15px;
  text-align: center;
  font-size: 48px;
  font-weight: bold;
}

.correct {
  color: #69E063;
  display: inline;
}

.incorrect {
  color: #CC3336;
  display: inline;
}

#score {
  text-align: center;
  font-size: 24px;
  margin-top: 10px;
}

#button {
  text-align: center;
}

.newgame {
  display:inline;
  border: 0;
  text-align: center;
  -webkit-border-radius: 5;
  -moz-border-radius: 5;
  border-radius: 5px;
  font-family: Arial;
  color: #ffffff;
  font-size: 16px;
  background: #949494;
  padding: 10px 20px 10px 20px;
  margin: 5px 2px 5px 2px;
}

.newgame:hover {
  background: #c7c7c7;
}

.newgame:focus {
  outline:0 !important;
}

.arrows {
  text-align: center;
  margin-top: 10px;
  padding: 10px;
  background-color: #e6e3e3;
}

.lowered {
  position: relative;
  top: 5px;
}

.green {
  background-color: transparent;
}

.arrow {
  display: inline;
  margin-left: auto;
  margin-right: auto;
}

#step {
  border: 3px solid green;
}

.key {
  display:inline-block;
}

.wrong {
  background-color: #FFC7C7;
}

#description {
  margin-top: 30px;
  text-align: center;
}

#orderedlist {
  margin-left: 120px;
  text-align: left;
  margin-top: 20px;
  margin-bottom: 50px;
}

.scores {
  font-size: 24px;
  font-weight: normal;
}

.gameoverscores {
  font-size:18px;
  font-weight: normal;
}


#modal.ng-enter {
  opacity: 0;
}

#modal.ng-leave {
  opacity: 1;
}

#modal.ng-enter.ng-enter-active {
  opacity: 1;
}

#modal.ng-leave.ng-leave-active {
  opacity: 0;
}



td {
  padding-left: 15px;
  padding-right: 15px;
  font-size: 20px;
}

/*
.animate-enter {
  -webkit-transition: 5s linear all; 
  transition: 5s linear all;
  opacity: 0;
}
 
.animate-enter.animate-enter-active {
  opacity: 1;
}*/